<section>
    <form method="POST" action="/pet/update?_method=PUT" class="w-3/5">
        <div class="mb-6">
            <!-- <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Name</label> -->
            <input type="text" name="name" value="<%= pet.name %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name" required>
        </div>
    
         <div class="mb-6">
            <!-- <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Animal</label> -->
             <input type="text" name="animal" value="<%= pet.animal %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Animal" required>
        </div>
    
        <div class="mb-6">
            <!-- <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Type</label> -->
            <input type="text" name="breed" value="<%= pet.breed %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Breed" required>
        </div>
    
        <div class="mb-6">
            <!-- <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Age</label> -->
            <input type="number" name="age" value="<%= pet.age %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Age" required>
        </div>
    
        <div class="mb-6">
            <!-- <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Gender</label> -->
            <input list="genders" name="gender" value="<%= pet.gender %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Gender" required>
            <datalist id="genders">
                <option value="Male">
                <option value="Female">
            </datalist>
        </div>
    
        <div class="mb-6">
            <!-- <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">From</label> -->
            <input type="text" name="from" value="<%= pet.from %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="From" required>
        </div>
    
        <!-- <div class="flex items-start mb-6">
            <div class="flex items-center h-5">
            <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required>
            </div>
            <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree with the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a>.</label>
        </div> -->
        <input type="hidden" name="id" value="<%= pet._id %>"  class="form-control">
        <br>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    
    </form>
</section>